
/* Styles properties */
ion-content[_aio-02138F4E] {
	--padding-top: 16px;
	text-align: center;
}
img[_aio-34B347D1] {
	width: 100%;
}
h1[_aio-8F32100C] {
	text-align: center;
}
div[_aio-705FF0C8] {
	text-align: left;
}
h1[_aio-35FFB41A] {
	text-align: center;
}
a[_aio-A386B07B] {
	text-align: left;
	margin-bottom: 10px;
}